<!DOCTYPE html>
<html ng-app="stocksSettings">
  <head>
    <title>Settings</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, target-densitydpi=device-dpi"  />
    <link rel="stylesheet" href="//chameleon.teknision.com/widgets/common/css/chameleon.css" />
    <link rel="stylesheet" href="//chameleon.teknision.com/widgets/common/css/chameleon-settings.css" />
    <link rel="stylesheet" href="css/settings.css" />
  </head>
  <body ng-controller="StockSettingsCtrl">
    <div id="chameleon-widget-settings">
      <header>Stocks</header>
      <div id="widget-settings">
        <form class="form-horizontal">
          <fieldset>
            <div class="control-group">
              <label class="control-label">Add Stock</label>
              <div class="controls">
                <input type="text" placeholder="e.g. GOOG" id="add-symbol-input" ng-model="newSymbol" />
              </div>
              <div class="controls">
                <a id="add-symbol-button" href="#" ng-click="addSymbol()">Add Symbol</a>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">Current Stocks</label>
              <ul id="symbol-list" ng-repeat="symbol in symbols">
                <li>
                  <span class="symbol-delete" ng-click="removeSymbol(symbol)">x</span>
                  <span class="symbol-name">{{ symbol.name }}</span>
                </li>
              </ul>
            </div>
          </fieldset>
        </form>
      </div>
      <div>
        <a class="done" ng-click="close()">Close</a>
      </div>
    </div>
    <script type="text/javascript" src="//www.bugsense.com/static/js/global/bugsense.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.server.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.jquery.js"></script>
    <script type="text/javascript" src="//chameleon.teknision.com/widgets/common/js/chameleon.localization.jquery.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/widgetgecko/common/js/services/0.0.8/services.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="js/settings-app.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </body>
</html>